<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="castle"
            type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, 
            Castle.Windsor" />
  </configSections>

  <appSettings>
    <add key="fileUri" value="ftp://mi.mirror.garr.it/mirrors/postfix/index.html"/>
  </appSettings>

  <castle>
    <components>
      <component id="HtmlTitleRetriever"
                 type="WindsorSample.HtmlTitleRetriever, WindsorSample">
        <parameters>
          <AdditionalMessage>This is the title of the document:</AdditionalMessage>
          <downloaders>
            <array>
              <item>${HttpFileDownloader}</item>
              <item>${FtpFileDownloader}</item>
            </array>
          </downloaders>
        </parameters>
      </component>
      <component id="StringParsingTitleScraper"
                 service="WindsorSample.ITitleScraper, WindsorSample"
                 type="WindsorSample.StringParsingTitleScraper, WindsorSample">
      </component>
      <component id="HttpFileDownloader"
                 service="WindsorSample.IFileDownloader, WindsorSample"
                 type="WindsorSample.HttpFileDownloader, WindsorSample">
      </component>
      <component id="FtpFileDownloader"
                service="WindsorSample.IFileDownloader, WindsorSample"
                type="WindsorSample.FtpFileDownloader, WindsorSample">
      </component>  
    </components>
  </castle>
</configuration>